<a href="https://colab.research.google.com/github/ilexistools/kitconc-usage/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Kitconc usage**

Kitconc is a free package for Corpus Linguistics and text analysis with Python.

It contains, among other things, tools for creating:

* Corpora;
* Frequency wordlists;
* Keywords;
* Concordance lines;
* Collocates;
* N-gram lists;
* Dispersion plots;
* Excel data files.

The package is built on top of platforms and packages for scientific research: numpy, nltk, pandas, xlsxwriter.

## **1. Install kitconc**

We can use *pip* to install it:

In [ ]:
!pip install kitconc

## **2. Import modules**

These are the main modules we are going to use:

In [3]:
from kitconc.kit_corpus import Corpora, Corpus

## **3. Create a corpus**

Here, we create a new corpus from raw texts:

In [21]:
# creates/sets a workspace folder
corpora = Corpora('workspace')

# downloads raw texts
url = 'https://github.com/ilexistools/kitconc-usage/raw/main/raw_ads.zip'
corpora.download_raw_texts(url) # unzips to 'ads' folder

# creates a new corpus from raw texts
if 'jobs' not in corpora.list_all():
  corpus = corpora.create('jobs','english','ads')

## **4. Import a corpus**

Import a created corpus (the same corpus as in '3') from a url:

In [26]:
# creates/sets a workspace folder
corpora = Corpora('workspace')

# import corpus from url
url = 'https://github.com/ilexistools/kitconc-usage/raw/main/jobs.zip'
if 'jobs' not in corpora.list_all():
 corpora.import_corpus_from_url(url)

# open imported corpus 
corpus = corpora.open('jobs')

## **5. Wordlist - Frequency**

In [30]:
# create the wordlist
wordlist = corpus.wordlist()
# save to Excel
wordlist.save_excel('wordlist.xlsx')
# print the 10 most frequent words on screen
wordlist.df.head(10)

    N        WORD  FREQUENCY     %
0   1         and       1383  5.05
1   2          to        691  2.52
2   3         the        627  2.29
3   4          of        540  1.97
4   5           a        423  1.55
5   6          in        410  1.50
6   7         for        304  1.11
7   8        with        292  1.07
8   9          is        207  0.76
9  10  experience        198  0.72